* {
    margin: 20;
    padding: 20;
    font-family: Arial, Helvetica, sans-serif;
    background: #990909;
    font-size: 17px;
}

    

header{
    text-align: center;
}


.box1 { 
    background: rgb(0, 0, 0); /* Цвет фона */
    width: 100%; /* Ширина блока */
    padding: 10px; /* Поля */
    margin-top: 5px; /* Отступ сверху */
    height: 300px;
   
   }

figcaption {background: #000;}

.forIMG
{
    margin-top: 20px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background: #000;
    color: white;
}
.forIMG1
{
    margin-top: 20px;
    float:left;
    margin-right: 20px;
    margin-left: 110px;
    text-align: center;
    background: #000;
    color: white;
}



.box2 { 
    margin-right: 20px;
    width: 100%; /* Ширина блока */
    padding: 10px; /* Поля */
    margin-top: 10px; /* Отступ сверху */
    height: 60%;
    
   
   }

h1{background: #bdbdbd;
text-align: center;}


.leftblock{
    
    display: inline-block;
    
    background: #7d0909;
    color: #cd3911;
    text-decoration: underline;
    
    
    margin-right: 10px;
    text-align: left;
    width: 20%;
    height: 20%;
} 
.center{
    display: inline-block;
    
    color: white;
    width: 50%;
    height: 50%;
   
    margin-right: 10px;
    
}

.right
{display: inline-block;
    width: 20%;
    height: 20%;
    background: white;
}
b{
    background: #bdbdbd;
    
}






p{
    background: #7d0909;
}


.bg_black {
    text-align: center;
    margin-top: 20px;
    color: white;
background-color: #e95b11;
font-size: 22px;    
}